*.apk
*.ap_
*.dex
*.class
*.iml
*.log
*.keystore

bin/
gen/
build/
obj/

proguard/
captures/
.navigation/
.gradle/
.idea/

.DS_Store
.navigation
.externalNativeBuild

local.properties
keystore.properties
flags.properties

output.json
